<div class="jumbotron jumbotron-fluid">
     <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">The Divine Comedy</h1>
              <p class="animated fadeInUp">Inferno, Purgatorio, Paradiso</p>
          <div ng-hide="ie == 0">
              <p class="animated fadeInUp">IE {{ie}}</p>
          </div>
        </div>
     </div>
</div>


<div class="container">

  <p> <strong> Summary </strong> </p>
  <div class="inprogress">
    <div class="inprogress-item color-bg-success-inverse" ng-style="{'width':progressInferno}" role="progressbar" aria-valuenow="{{progressInferno}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p><strong>Inferno:</strong>{{progressInferno | number : 2}}%</p>

  <table class="table table-striped">
    <tr>
      <th> </th>
      <th> Processed</th>
      <th> Total</th>
      <th> Percentage</th>
    </tr>

    <tr>
      <td>   Inferno </td>
      <td>{{linesCountInferno}}  </td>
      <td>{{linesTotalInferno}}  </td>
      <td>
        {{progressInferno | number : 2}}%
      </td>
    </tr>

    <tr>
      <td>   Purgatorio </td>
      <td>{{linesCountPurgatorio}}  </td>
      <td>{{linesTotalPurgatorio}}  </td>
      <td>{{linesCountPurgatorio/linesTotalPurgatorio * 100 | number : 2}}%  </td>
    </tr>

    <tr>
      <td>   Paradiso </td>
      <td>{{linesCountParadiso}}  </td>
      <td>{{linesTotalParadiso}}  </td>
      <td>{{linesCountParadiso/linesTotalParadiso * 100 | number : 2}}%  </td>
    </tr>

  </table>

  <div xwindow>
    <p ng-if="width > 320">The device window is: [{{width}}, {{height}}].</p>
  </div>

</div>



