<section id="notes">
  <div class="container">
    <form>
      <div class="form-group row">


        <div class="col-md-3">
          <h4><small>Book</small></h4>
          <input type="text" name="bookname" ng-model="book_name" />
          <h4><small>Key</small></h4>
          <input type="text" name="keyword" ng-model="key" />
        </div>
        <div class="col-md-6">
          <h4><small>Text</small></h4>
          <textarea ng-model="input" class="form-control" placeholder="Enter Markdown text here" autofocus="true" rows="5" style="max-width: 100%;"></textarea>


          <div ng-cloak ng-if="input.length > 0">
            <h4><small>HTML Preview</small></h4>
            <div ng-bind-html="input | markdown" class="preview"></div>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-secondary" ng-hide="ind < 0" ng-click="updateItem(book_name, key, input)">Save</button>
          <button class="btn btn-secondary" ng-hide="ind < 0" ng-click="deleteItem()">Delete</button>
          <button class="btn btn-secondary" ng-hide="ind < 0" ng-click="moveItem(-1)">Up</button>
          <button class="btn btn-secondary" ng-hide="ind < 0" ng-click="moveItem(1)">Down</button>
          <button class="btn btn-secondary" ng-hide="ind >= 0 " ng-click="addItem(book_name, key, input)">Add</button>
        </div>

      </div>

  
  </form>
  </div>

</section>

<section id="notes">
  <div class="container">


    <table class="table table-hover">     
      <tbody>
        <tr class="d-flex" ng-repeat="note in items track by $index " ng-click="select($index)">

          <td class="col-sm-3">
            <p class="line" style="margin:0px 0px 0px 0px;padding:0px 0px;background-color:#f8f9fa;">{{note.book}} </p>
          </td>
          <td class="col-sm-9">
            <h4><small>{{note.key}}</small></h4>
            <div class="preview" ng-bind-html='note.text  | markdown'></div>

          </td>


        </tr>
      </tbody>
    </table>


  </div>



</section>



<section id="notes">
  <div class="container">
    <div class="col-row">

      File Name: <input type="text" ng-model="filename" /><br>
      <button class="btn btn-secondary" ng-click="saveJSON(items)">Save</button>
    </div>
    <div class="col-row">
      <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">



    </div>

  </div>

</section>
