  <section id="settings">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2> Settings </h2>

          <label>Verbose: <input type="checkbox" ng-model="chk_verbose" ng-init="verbose" ng-change="changeVerbose()"></label><br />
        </div>
      </div>




      <div class="row">

        <div class="col-md-6">



          <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" ng-model="input_opt" value="inferno" ng-change="change()">

            <label class="form-check-label">inferno</label>

          </div>



          <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" ng-model="input_opt" value="purgatorio" ng-change="change()">

            <label class="form-check-label">purgatorio</label>

          </div>



          <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" ng-model="input_opt" value="paradiso" ng-change="change()">

            <label class="form-check-label">paradiso</label>

          </div>





          <form>

            <b>Import Your Canto:</b>

            <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">

          </form>

        </div>

        <div class="col-md-6">

          <form>

            <b>Reset:</b><br />

            <button class="btn btn-secondary" ng-click="reset()">default</button>

          </form>

        </div>





      </div>



    </div>
 </section>










